.box {
  &.is-same-height {
    height: 100%;
  }
}
.button {
  text-transform: uppercase;
  border-radius: $radius-small;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  font-size: 14px;
  font-weight: $weight-medium;
  transition: background 200ms linear;
  min-height: 36px;
  padding-left: 0.857em;
  padding-right: 0.857em;
  display: inline-block;
  line-height: 26px;

  &:hover,
  &:focus,
  &.is-hovered,
  &.is-focused {
    background-color: $green-light;
    color: $white;
    border-color: transparent;
  }

  &:active,
  &.is-active {
    color: $white;
    background-color: $green-dark;
    border-color: transparent;
  }

  &.wide {
    min-width: 145px;
  }

  &.fullwidth {
    width: 100%;
  }

  &.is-text {
    box-shadow: none;
    text-decoration: none;
    color: $green;

    &:hover,
    &:focus,
    &.is-hovered,
    &.is-focused {
      background-color: #E0E0E0;
      border-color: transparent;
    }

    &:active,
    &.is-active {
      color: $green;
      background-color: #E0E0E0;
      border-color: transparent;
    }

    &[disabled] {
      color: $grey-darker;
      background: transparent;
    }
  }

  &.round {
    overflow: hidden;
    width: 56px;
    height: 56px;
    padding-left: 0;
    padding-right: 0;
    border-radius: $radius-rounded;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 12px 12px 0 rgba(0, 0, 0, 0.24);
  }

  /* Color Variations */
  &.is-primary {
    background-color: $green;

    &:hover,
    &:focus {
      color: $white;
      background-color: $green-light;
    }

    &:active {
      background-color: $green-dark;
    }

    &[disabled] {
      background-color: $grey-light;
      color: $white;
    }
  }

  &.is-secondary {
    background-color: $grey-darker;

    &:hover,
    &:focus {
      color: $white;
      background-color: $grey-light;
    }

    &:active {
      background-color: $grey-darker;
    }

    &.is-text {
      background-color: transparent;
      box-shadow: none;
      text-decoration: none;
      color: $grey-darker;

      &:hover,
      &:focus,
      &.is-hovered,
      &.is-focused {
        background-color: #E0E0E0;
        border-color: transparent;
      }

      &:active,
      &.is-active {
        color: $grey-darker;
        background-color: #E0E0E0;
        border-color: transparent;
      }

      &[disabled] {
        color: $grey-darker;
        background: transparent;
      }
    }

    &[disabled] {
      background-color: $grey-darker;
      color: $white;
    }
  }

  &.is-danger {
    background-color: $red;

    &:hover,
    &:focus {
      color: $white;
      background-color: $red-light;
    }

    &:active {
      background-color: $red-dark;
    }
  }

  &.is-warning {
    color: $white;
    background-color: $orange;

    &:hover,
    &:focus {
      color: $white;
      background-color: $orange-light;
    }

    &:active {
      background-color: $orange-dark;
    }
  }

  &[disabled] {
    color: $white;
    background-color: $light;
  }

  .omit-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/* Button holder */
.buttons {
  margin: 1em 0;
}

.buttons .button {
  margin-bottom: 0.5rem;
}

.buttons .button:not(:last-child) {
  margin-right: 0.5rem;
}

/* Fixed buttons with text + icon */
.button i.icon.material-icons {
  float: left;
}
.card {
  height: 100%;

  .card-content {
    padding: 24px 16px 8px;
  }

  .title {
    font-weight: $weight-normal;
    border: 0;
    font-size: 24px;
  }

  .no-wrap {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  &.has-buttons {
    padding-bottom: 50px;

    .buttons {
      margin: 1em 0 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 4px;

      .button {
        margin-bottom: 4px;
      }

      .button.is-pulled-right {
        margin-left: auto;
      }
    }
  }
}

/* Mark Patner-Products with Banderole (upcoming feature)
.card.verified {
position: relative;
overflow: hidden;
}

.card.verified:before {
content: '★';
background: $orange;
display: block;
padding: 8px;
color: #fff;
width: 120px;
position: absolute;
top: 10px;
left: -30px;
z-index: 1;
text-align: center;
transform: rotate(-45deg);
box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
font-weight: $weight-medium;
}
*/
.select {
  display: block;

  select {
    width: 100%;
  }
}

/**
 * Bulma Material Design Form Elements
 * İsmail Demirbilek
 * (c) 2016 - MIT
 * Based on https://s.codepen.io/jonnitto/pen/OVmvPB by Jon Uhlmann
 */
// Font Sizes
$mf-font-size: 16px !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;

// Shadows
$shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14);
$shadow-0: 0 0 1px rgba(0, 0, 0, 0);
$shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
$shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
  0 1px 8px 0 rgba(0, 0, 0, 0.12);
$shadow-4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow-6: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.2);
$shadow-8: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

// Margin & Paddings
$mf-gap: 20px !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-fieldset-margin: 0 0 ($mf-gap * 2) !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;

// Colors
$mf-input-color: $text !default;
$mf-border-color: $grey !default;
$mf-label-color: lighten($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: $primary !default;
$mf-error-color: $danger !default;

// Animation
$mf-transition-speed: 0.38s !default;

.material-element {
  .radio-control,
  .control {
    position: relative;
    margin-top: $mf-gap * 1.5;
    margin-bottom: $mf-gap * 1.5;
  }

  .radio-control,
  .button-control {
    margin-top: 15px;
  }

  .form-inline {
    > .control,
    > .btn {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .form-help {
    margin-top: $mf-spacer;
    margin-left: $mf-spacer;
    color: $mf-label-color;
    font-size: $mf-active-font-size;

    .checkbox-control &,
    .radio-control &,
    .control & {
      position: absolute;
      width: 100%;
    }

    .checkbox-control & {
      position: relative;
      margin-bottom: $mf-font-size;
    }

    .radio-control & {
      padding-top: 15px;
      margin-top: -$mf-font-size;
    }
  }

  .control {
    // scss-lint:disable QualifyingElement, NestingDepth
    input {
      height: $mf-font-size * 1.9;
    }

    textarea {
      resize: none;
    }

    select {
      width: 100%;
      font-size: $mf-font-size;
      height: $mf-font-size * 1.6;
      padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
      background: none;
      border: 0;
      line-height: 1.6;
      box-shadow: none;
    }

    .label {
      position: absolute;
      top: $mf-font-size / 4;
      pointer-events: none;
      padding-left: $mf-spacer;
      z-index: 1;
      color: $mf-label-color;
      font-size: $mf-font-size;
      font-weight: normal;
      transition: all $mf-transition-speed ease;
    }

    .bar {
      position: relative;
      border-bottom: ($mf-font-size / 16) solid $mf-border-color;
      display: block;

      &::before {
        content: '';
        height: $mf-font-size / 8;
        width: 0;
        left: 50%;
        bottom: $mf-font-size / -16;
        position: absolute;
        background: $mf-focus-color;
        transition: left $mf-transition-speed ease,
          width $mf-transition-speed ease;
        z-index: 2;
      }
    }

    input,
    textarea {
      display: block;
      background: none;
      padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
      font-size: $mf-font-size;
      border-width: 0;
      border-color: transparent;
      line-height: 1.9;
      width: 100%;
      color: transparent;
      transition: all $mf-transition-speed ease;
      box-shadow: none;
    }

    input[type='file'] {
      line-height: 1;

      ~ .bar {
        display: none;
      }
    }

    select,
    input:focus,
    input:valid,
    input.form-file,
    input.has-value,
    textarea:focus,
    textarea:valid,
    textarea.form-file,
    textarea.has-value {
      color: $mf-input-color;

      ~ .label {
        font-size: $mf-active-font-size;
        color: $mf-active-color;
        top: $mf-active-top;
        left: 0;
      }
    }

    select,
    input,
    textarea {
      &:focus {
        outline: none;
        box-shadow: none;

        ~ .label {
          color: $mf-focus-color;
        }

        ~ .bar {
          &::before {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
  // Radio & Checkbox
  .checkbox-control,
  .radio-control {
    label {
      position: relative;
      cursor: pointer;
      padding-left: $mf-checkbox-gap;
      text-align: left;
      color: $mf-input-color;
      display: block;
    }

    input {
      width: auto;
      opacity: 0.00000001;
      position: absolute;
      left: 0;
    }
  }

  .radio-control {
    margin-bottom: 15px;

    .helper {
      position: absolute;
      top: $mf-radio-margin;
      left: $mf-radio-margin;
      cursor: pointer;
      display: block;
      font-size: $mf-font-size;
      user-select: none;
      color: $mf-border-color;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: $mf-spacer * 2;
        width: $mf-font-size;
        height: $mf-font-size;
        transition: transform $mf-transition-speed ease;
        border-radius: 50%;
        border: ($mf-font-size / 8) solid currentColor;
      }

      &::after {
        transform: scale(0);
        background-color: $mf-focus-color;
        border-color: $mf-focus-color;
      }
    }

    label:hover .helper {
      color: $mf-focus-color;
    }
    // scss-lint:disable QualifyingElement, NestingDepth
    input:checked {
      ~ .helper {
        &::after {
          transform: scale(0.5);
        }

        &::before {
          color: $mf-focus-color;
        }
      }
    }
  }

  .checkbox-control {
    margin-top: 15px;
    margin-bottom: 15px;

    .helper {
      color: $mf-border-color;
      position: absolute;
      top: $mf-checkbox-top;
      left: 0;
      width: $mf-font-size;
      height: $mf-font-size;
      z-index: 0;
      border: ($mf-font-size / 8) solid currentColor;
      border-radius: $mf-font-size / 16;
      transition: border-color $mf-transition-speed ease;

      &::before,
      &::after {
        position: absolute;
        height: 0;
        width: $mf-font-size * 0.2;
        background-color: $mf-focus-color;
        display: block;
        transform-origin: left top;
        border-radius: $mf-font-size / 4;
        content: '';
        transition: opacity $mf-transition-speed ease,
          height 0s linear $mf-transition-speed;
        opacity: 0;
      }

      &::before {
        top: $mf-font-size * 0.65;
        left: $mf-font-size * 0.38;
        transform: rotate(-135deg);
      }

      &::after {
        top: $mf-font-size * 0.3;
        left: 0;
        transform: rotate(-45deg);
      }
    }

    label:hover .helper {
      color: $mf-focus-color;
    }

    input:checked {
      ~ .helper {
        color: $mf-focus-color;

        &::after,
        &::before {
          opacity: 1;
          transition: height $mf-transition-speed ease;
        }

        &::after {
          height: $mf-font-size / 2;
        }

        &::before {
          height: $mf-font-size * 1.2;
          transition-delay: $mf-transition-speed;
        }
      }
    }
  }

  .radio-control + .radio-control,
  .checkbox-control + .checkbox-control {
    margin-top: 15px;
  }

  .has-error {
    .legend.legend,
    &.control .label.label {
      color: $mf-error-color;
    }

    &.control,
    &.checkbox-control,
    &.radio-control,
    &.radio-control {
      .form-help,
      .helper {
        color: $mf-error-color;
      }
    }

    .bar {
      &::before {
        background: $mf-error-color;
        left: 0;
        width: 100%;
      }
    }
  }
}
.icon {
  vertical-align: middle;

  /* This breaks icons since Bulma get's completly imported TODO: Remove code after Test
  svg {
    width: 100%;
    height: auto;
  } */
}

/* Material Design Icons */
i.icon.material-icons {
  margin-top: -0.2em;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-flex;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.notification-bubble {
  background-color: $grey-darker;
  color: $white;
  text-align: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-weight: $weight-medium;
  line-height: 28px;
  display: block;
  margin: 0 auto;

  &.is-info {
    background-color: $grey-darker;
  }

  &.is-primary {
    background-color: $green-dark;
  }

  &.is-success {
    background-color: $green;
  }

  &.is-warning {
    background-color: $orange;
  }

  &.is-danger {
    background-color: $red;
  }
}
.notification {
  color: $white;

  &.is-info {
    color: $black;
    background: transparent;
    border: solid $green 2px;

    span.iconbar {
      background: $green;
    }
  }

  &.is-primary {
    color: $white;
    background: $green-dark;
  }

  &.is-warning {
    color: $white;
    background: $orange;
  }

  &.is-danger {
    color: $white;
    background: $red;
  }

  p,
  ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type,
  ul:last-of-type {
    margin-bottom: 0;
  }

  &.has-iconbar {
    padding-left: 52px;
    position: relative;
  }

  span.iconbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    width: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    i.icon.material-icons {
      margin-top: -0.1em;
    }
  }

  &.is-small {
    font-size: 12px;

    &.has-iconbar {
      padding-left: 32px;

      i.icon.material-icons {
        font-size: 16px;
      }
    }

    span.iconbar {
      width: 20px;
      text-align: center;
      font-size: 12px;
    }
  }
}

/* To avoid !Important tags, write cascading styles */
.page .page-content .notification {
  p:not([class]) {
    margin: 0.5em 0;
  }

  p:not([class]):first-of-type {
    margin-top: 0;
  }

  p:not([class]):last-of-type {
    margin-bottom: 0;
  }
}
$md-radio-checked-color: $green;
$md-radio-border-color: $grey;
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: 0 0 0 $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0 0 0 $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}

.md-radio {
  line-height: normal;
  margin: 16px 0;

  &.md-radio-inline {
    display: inline-block;
  }

  input[type='radio'] {
    display: none;

    &:checked + label::before {
      border-color: $md-radio-checked-color;
      animation: ripple 0.2s linear forwards;
    }

    &:checked + label::after {
      transform: scale(1);
    }
  }

  label {
    display: inline-block;
    height: auto;
    position: relative;
    padding: 0 ($md-radio-size + 10px);
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
    font-size: 14px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: all 0.3s ease;
      transition-property: transform, border-color;
    }

    &::before {
      left: 0;
      top: 0;
      width: $md-radio-size;
      height: $md-radio-size;
      border: 2px solid $md-radio-border-color;
    }

    &::after {
      top: $md-radio-size / 2 - $md-radio-checked-size / 2;
      left: $md-radio-size / 2 - $md-radio-checked-size / 2;
      width: $md-radio-checked-size;
      height: $md-radio-checked-size;
      transform: scale(0);
      background: $md-radio-checked-color;
    }
  }
}
.status-disc {
  display: block;
  padding-left: 20px;
  position: relative;
  line-height: normal;
}

.status-disc::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-color: $grey-darker;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.status-disc.is-info::before {
  background-color: $grey-darker;
}

.status-disc.is-primary::before {
  background-color: $green-dark;
}

.status-disc.is-success::before {
  background-color: $green;
}

.status-disc.is-warning::before {
  background-color: $orange;
}

.status-disc.is-danger::before {
  background-color: $red;
}
.table {
  background-color: transparent;
}

.table td {
  vertical-align: middle;
  padding: 16px 12px;
}

.table tr {
  padding: 24px 12px;
}

.b-table {
  margin: -24px;
}

.b-table .table {
  border: 0 !important;
}

.b-table .table th {
  font-weight: $weight-medium !important;
}

.table th {
  padding: $table-head-padding;
}

.b-table .table tr.detail {
  box-shadow: none;
  padding: 0;
  background: $white;

  section {
    background-color: transparent;
  }

  td {
    padding: 0;

    .detail-container {
      padding: 24px 12px;

      .buttons {
        margin-top: 2em;
      }
    }
  }
}

.expandable-row {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.active,
  &:hover {
    background: $lighter;
  }
}
.b-tabs {
  nav.tabs {
    position: relative;
    margin-bottom: -1px;
    z-index: 2;

    a {
      border-bottom: 0;
      padding: 0.75em 1em;
    }

    li {
      border: solid transparent 1px;
      border-bottom: 0;

      &.is-active {
        background: #fff;
        border-radius: 8px 8px 0 0;
        border: solid #dbdbdb 1px;
        border-bottom: 0;
      }
    }

    ul {
      border-bottom: 0;
    }
  }
}
.title {
  border-bottom: 0;

  &.is-1 {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 6px;
  }

  &.is-3 {
    font-weight: normal;
    font-size: 17px;
    border-bottom: solid $black 1px;
    padding-bottom: 6px;
  }

  &.is-4 {
    font-weight: normal;
    font-size: 17px;
    border-bottom: solid $black 1px;
    padding-bottom: 6px;
  }
}
